@using P1F_TPM360_HUB.Function
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

@{
    string url = ViewContext.HttpContext.Request.Path;
    string lastSegment = url.Split('/').Last();

    string sesa_id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    string user_level = User.FindFirst("P1F_TPM360_HUB_level")?.Value;
    string userName = User.FindFirst("P1F_TPM360_HUB_name")?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P1F TPM360 Hub</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- FontAwesome -->
    <link href="~/lib/font-awesome-5/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-5/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-5/css/solid.css" rel="stylesheet" />

    <!-- Bootstrap 4 & DataTables -->
    <link rel="stylesheet" href="~/lib/bootstrap-4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/select2-4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/datatables-2/datatables.css" />

    <!-- Admin LTE & AOS -->
    <link href="~/lib/adminlte/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/lib/adminlte/plugins/chart.js/Chart.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Font Apps-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/custom-fonts.css" />
</head>
<body class="layout-navbar-fixed" style="padding:0; margin:0;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg position-absolute w-100 p-0 m-0"
             style="background-color: rgba(0,0,0,0.4); z-index: 10;">
            <div class="container-fluid px-3">
                <!-- Logo kiri -->
                <a class="navbar-brand" href="@Url.Action("Dash", "Admin")">
                    <img src="~/assets/logo1.gif" width="200px" alt="Logo">
                </a>

                <!-- Toggle mobile -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
                        style="border-color: rgba(255,255,255,0.5);">
                    <span class="navbar-toggler-icon"
                          style="background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox=&quot;0 0 30 30&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;><path stroke=&quot;rgba(255,255,255,1)&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-miterlimit=&quot;10&quot; d=&quot;M4 7h22M4 15h22M4 23h22&quot;/></svg>');">
                    </span>
                </button>

                <!-- Kanan username + icon -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                    <ul class="navbar-nav d-flex align-items-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link d-flex align-items-center" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               style="cursor: pointer;">

                                <div class="d-flex flex-column align-items-end" style="font-weight:bold; color:white; font-size: 0.9em;">
                                    <span>@userName</span>
                                    <small>@sesa_id</small>
                                </div>

                                <img src="~/assets/header.png" alt="Header Icon" style="height: 40px; margin-left: 10px;">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("Logout", "Home")">
                                    <i class="nav-icon fas fa-power-off"></i>&emsp;Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables-2/datatables.js"></script>
    <script src="~/lib/adminlte/plugins/moment/moment.min.js"></script>
    <script src="~/lib/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="~/lib/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/lib/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/select2-4.1.0/select2.min.js"></script>
    <script src="~/lib/adminlte/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/adminlte/plugins/chart.js/Chart.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({ once:true, duration:200 });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/TextPlugin.min.js"></script>

    <script>
        gsap.registerPlugin(TextPlugin);
        gsap.to('.display-6', { duration:1.0, text:'Start with Features' });
        gsap.from('.display-5', { duration:0.5, x:-50, opacity:0 });

        $('body').on("click", function(){ $(this).removeClass('sidebar-open'); });

        // $('#dropdown').on('click', function(e){
        //     e.preventDefault();
        //     Swal.fire({
        //         title:'Are you sure?',
        //         text:"You won't be able to revert this!",
        //         icon:'warning',
        //         showCancelButton:true,
        //         confirmButtonColor:'#3085d6',
        //         cancelButtonColor:'#d33',
        //         confirmButtonText:'Yes, logout!'
        //     }).then((result)=>{
        //         if(result.isConfirmed){ window.location.href='@Url.Action("Logout", "Home")'; }
        //     });
        // });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
